.idea/
dump activités.xls
preview.pdf
preview.tex
config.cfg
temp
venv
__*
bons_a_tirer.pdf
groople_db.txt
groople_telegram.txt
grouple_web.txt
test-docker.sh
*.aux
*.out
*.toc
doc_src/2016
doc_src/pvfr_bat.pdf
doc_src/pvfr.pdf
